<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <style>
        .button {
          
          padding: 10px 20px;
          background-color: #4e52c3;
          color: white;
          text-decoration: none;
          border-radius: 5px;
          display: block;
         margin-left: auto;
         margin-right: auto;
         width: 12%;
         text-align: center;
          
        }
        </style>
</head>
<body style="background-image: url('back.jpg');">
    
    <p style="color: rgb(30, 30, 109); font-size: 500%;text-align:center">INSTITUT BIOPARIS </p>
    <p style="color: rgb(63, 68, 167); font-size: 300%;text-align:center">Tous nos produits sont bios et vegans!</p>
    <a href="/categories" class="button" >Nos catégories</a>
    <p style="color: rgb(30, 30, 109); font-size: 300%;text-align:center">Notre adresse: 9 Rue du centre 75000 Paris  </p>
      <p style="color: rgb(63, 68, 167); font-size: 300%;text-align:center">Nous vous attendons!!!!</p>
      <a href="https://www.google.com/maps/place/9+Rue+du+Centre,+92200+Neuilly-sur-Seine/@48.8797354,2.2489623,17z/data=!3m1!4b1!4m6!3m5!1s0x47e66515dc96ed35:0x36d9c1d6fea4ad74!8m2!3d48.8797354!4d2.2515372!16s%2Fg%2F11c18dmdv_?authuser=0" class="button">Plan</a>
      
      
</body>
</html>