<style>
  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0.8;
    background-color: rgb(212, 212, 148);
  }
nav > *:last-child {
    margin-right: auto;
  }
</style>

<nav >
    
    <a href="/" class="button">Acceuil</a>
    <a href="https://www.google.com/maps/place/Paris+Institut/@48.8739761,2.2748164,14.58z/data=!4m10!1m2!2m1!1sinstitut+de+beaut%C3%A9+paris!3m6!1s0x47e66f947b33ffff:0xb63303dfa0f80981!8m2!3d48.8803121!4d2.2964902!15sChlpbnN0aXR1dCBkZSBiZWF1dMOpIHBhcmlzkgEMYmVhdXR5X3NhbG9u4AEA!16s%2Fg%2F1tfcmnf0?authuser=0" class="button">Plan</a>
    <a href="mailto:institut-paris@gmail.com" class="button" >Contactez nous par mail!!!</a>

  </nav>
  