<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .button {
        
        padding: 10px 20px;
        background-color: #4e52c3;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        display: block;
       margin-left: auto;
       margin-right: auto;
       width: 12%;
       text-align: center;
        
      }
      </style>
</head>
<body style="background-image: url('back.jpg');">
  <a href="/" class="button" >Acceuil</a>
    <!-- <p>poster un produit: 6437f2c73e504a5fdb353b91  beauté des mains</p>
    <p>Ou 6436f69682543f2fc7572816 Maquillage</p>
    <p>Ou 6437b450dd277194d64786cb  Soins du corps</p>
    <p>Ou 6437b361dd277194d64786c9  Soins du visage</p>
    <form action="/addProduct" method="POST">
      <label for="productName">ProductName: </label>
      <input type="text" id="productName" name="productName" required>

      <label for="categoryId">categoryId: </label>
      <input type="text" id="categoryId" name="categoryId" required>

      <label for="productPrice">Price: </label>
      <input type="number" id="productPrice" name="productPrice" required>

      <input type="submit" value="Poster sur MongodB">
    </form>  -->
    
    <p>Ajouter un produit</p>
    <form action="/addProduct" method="POST">
      <label for="productName">ProductName: </label>
      <input type="text" id="productName" name="productName" required>
    
      <label for="categoryId">Category du Produit </label>
      <select id="categoryId" name="categoryId" required>
        <option value="6436f69682543f2fc7572816">Maquillage</option>
        <option value="6437b361dd277194d64786c9">Soins du Visage</option>
        <option value="6437b450dd277194d64786cb">Soins du corps</option>
        <option value="6437f2c73e504a5fdb353b91">Beauté des mains</option>
      </select>
    
      <label for="productPrice">Price: </label>
      <input type="number" id="productPrice" name="productPrice" required>
    
      <input type="submit" value="Poster sur MongodB">
    </form>
    <p>Supprimer un produit par nom</p> 
    <form action="/deleteProduct" method="POST">
      <label for="productName">ProductName: </label>
      <input type="text" id="productName" name="productName" required>

    

      <input type="submit" value="Supprimmer produit dans MongoDB">
    </form>
    
   
</html>