<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body style="background-image: url('woman.jpg');">
    <p style="color: rgb(30, 30, 109); font-size: 400%;text-align:center">INSTITUT BIOPARIS </p>
    <p style="color: rgb(189, 26, 162); font-size: 300%;text-align:center">Tous nos produits sont bios et vegans!</p>
    
     
     <p>liste </p>
     <p>Nombre d'éléments dans la liste: <%= categories.length %></p>
     <% if (categories && categories.length) { %>
        <ul style="text-align: center;">
          <% for (var i = 0; i < categories.length; i++) { %>
            <li><%= categories[i].categoryName %></li>
            <button>Cliquez pour voir produits</button>
            <p></p>
          <% } %>
          
        </ul>
      <% } else { %>
        <p>No categories found.</p>
      <% } %>
      

      
      

    

     
     
</body>
</html>
