<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
      .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3d24aa;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      }
      </style>
</head>
<body style="background-image: url('back.jpg');">
  <a href="/categories" class="button">Retour acceuil</a>
  <p style="color: rgb(30, 30, 109); font-size: 500%;text-align:center">INSTITUT BIOPARIS </p>
  <p style="color: rgb(63, 68, 167); font-size: 300%;text-align:center">Tous nos produits sont bios et vegans!</p>

    <p>Nombre d'éléments dans la liste: <%= prodBycategory.length %></p>
    <ul style="text-align: center; list-style-type: none; font-size: 200%;">
        <% for (var i = 0; i < prodBycategory.length; i++) { %>
            <li><%= prodBycategory[i].productName %></li>
          <li><%= prodBycategory[i].productPrice %> euros</li>
          

          
          <p></p>
        <% } %>
        
      </ul>
      <p style="color: rgb(30, 30, 109); font-size: 300%;text-align:center">Notre adresse: 9 Rue du centre 75000 Paris  </p>
      <p style="color: rgb(63, 68, 167); font-size: 300%;text-align:center">Nous vous attendons!!!!</p>
    
  
</body>
</html>